<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Klontong - Anything You Need</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="./js/vue.js"></script>
    <script src="./js/axios.js"></script>
    <script src="./js/jquery.js"></script>
    <script src="./js/jqueryurl.js"></script>
    <script src="./js/bootstrap.min.js"></script>
    <script src="./js/jquery.zoom.js"></script>
    <script>
  		$(document).ready(function(){
  			$('#ex1').zoom();
  			$('#ex2').zoom();
  			$('#ex3').zoom();
  			$('#ex4').zoom();
  			$('#ex5').zoom();
  		});
	  </script>
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-default">
          <div class="container">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">{{namaToko}}</a>
            </div>
            <ul v-if="token.length > 0"class="nav navbar-nav navbar-right">
              <!-- <li hidden>Update</li> -->
              <li class="active"><a href="./index.html">Beranda</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profil Anda <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Lihat Profil</a></li>
                  <li><a href="customer-history.html">Daftar Transaksi</a></li>
                  <li role="separator" class="divider"></li>
                  <li><a href="#">Pengaturan</a></li>
                </ul>
              </li>
              <li><a id="logout" href="#">Logout</a></li>
            </ul>
            <ul v-else class="nav navbar-nav navbar-right">
              <li class="active"><a href="#">Beranda</a></li>
              <li><a href="registration.html">Daftar | Login</a></li>
            </ul>
          </div>
        </nav>
      </header>

      <div class="container">
        <div class="row">

          <div class="col-xs-12 col-md-6">
          <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
              <li data-target="#myCarousel" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
              <div class="item active">
                <img class="img-responsive kenburns-top" src="./images/banner-1.jpg" alt="banner-1">
              </div>
              <div class="item">
                <img class="img-responsive kenburns-top" src="./images/banner-2.jpg" alt="banner-2">
              </div>
              <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Prev</span>
              </a>
              <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
            </div>
          </div>

          <div class="col-md-1"></div>

          <div class="col-xs-12 col-md-5">
            <div class="form-group">
              <label for="cari">Cari:</label>
              <input type="text" class="form-control" id="cari">
            </div>
            <div class="form-group">
              <label for="kategori">Kategori:</label>
              <select class="form-control" id="kategori">
               <option value="sains">Sains</option>
               <option value="programming">Programming</option>
               <option value="fiksi">Fiksi</option>
               <option value="nonfiksi">Non-Fiksi</option>
               <option value="religi">Religi</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" name="button" class="btn btn-primary pulsate-fwd"><i class="fa fa-search"> Cari</i></button>
            </div>
          </div>

        </div>
      </div>

      <div class="container kategori">
        <div class="row">
          <div class="col-md-2 sidebar">
            <h4>Kategori</h4>
            <ul class="list-group">
              <li class="list-group-item"><a href="./index.html">Semua Kategori</a></li>
              <li class="list-group-item"><a href="./index.html?genre=Sains">Sains</a></li>
              <li class="list-group-item"><a href="./index.html?genre=Programming">Programming</a></li>
              <li class="list-group-item"><a href="./index.html?genre=Fiksi">Fiksi</a></li>
              <li class="list-group-item"><a href="./index.html?genre=Non-fiksi">Non-Fiksi</a></li>
              <li class="list-group-item"><a href="./index.html?genre=Religi">Religi</a></li>
            </ul>

            <a v-if="cart.length > 0" v-on:click="calculateTotal()" type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal">
              <span class="glyphicon glyphicon-shopping-cart"></span> Keranjang ({{cart.length}})
            </a>
            <div id="myModal" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                  </div>
                  <div class="modal-body">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <div class="panel-title">
                          <div class="row">
                            <div class="col-xs-6">
                              <h4>Keranjang Belanja anda</h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-body">
                        <div class="row" v-for="(belanjaan, index) in cart">
                          <div class="col-xs-2">
                            <img class="img-responsive" v-bind:src="belanjaan.image" alt="">
                          </div>
                          <div class="col-xs-4">
                            <p class="book-name">{{belanjaan.title}}</p>
                            <p class="book-genre"><small>{{belanjaan.genre}}</small></p>
                          </div>
                          <div class="col-xs-6">
                            <div class="col-xs-6 text-right">
                              <p class="book-price"><strong>Rp. {{belanjaan.price}}<span class="text-muted"> x</span></strong></p>
                            </div>
                            <div class="col-xs-4">
                              <input type="text" class="form-control input-sm" v-model="belanjaan.count" v-bind:max="belanjaan.stock">
                            </div>
                            <div class="col-xs-2">
                              <button type="button" class="btn btn-link btn-xs" v-on:click="removeItem(belanjaan, index)">
                                <span class="glyphicon glyphicon-trash"> </span>
                              </button>
                            </div>
                          </div>
                        </div>
                        <hr>
                        <hr>
                        <div class="row">
                          <div class="text-center">
                            <div class="col-xs-9">
                              <h6 class="text-right">Belanja Lagi?</h6>
                            </div>
                            <div class="col-xs-3">
                              <button type="button" v-on:click="calculateTotal()" class="btn btn-default btn-sm btn-block">Update</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="panel-footer">
                        <div class="row text-center">
                          <div class="col-xs-9">
                            <h4 class="text-right">Total <strong>Rp {{total}}</strong></h4>
                          </div>
                          <div class="col-xs-3">
                            <button id="beli" type="button" class="btn btn-success btn-block">Checkout</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-md-offset-1 col-md-9">
            <h4>Rekomendasi Buku</h4>
            <div class="row">
              <div v-for="(book, index) in bookList">
                <div class="col-md-4">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <div class="image-buku">
                      <!-- <span class="zoom" id="ex1"> -->
                        <img v-bind:src="book.image" class="img-responsive img-rounded" alt="">
                      <!-- </span> -->
                      </div>
                    </div>
                    <div class="panel-body">
                      <h5 class="book-name">{{book.title}}</h5>
                      <p class="book-author">Oleh {{book.author}}</p>
                      <p class="book-price">Rp {{book.price}}</p>
                      <p class="book-genre">Genre: {{book.genre}}</p>
                      <p v-if="book.stock < 3" class="book.genre" style="color: red"><small>Stock: {{book.stock}}</small></p>
                      <div v-if="token.length > 0">
                        <button v-if="book.stock > 0" type="button" name="add-item" class="btn btn-default" v-on:click="addToCart(book)"><i class="fa fa-cart-plus" aria-hidden="true">Tambahkan</i></button>
                        <button v-else-if="book.stock == 0" type="button" class="btn btn-danger disabled">Stock Habis</button>
                      </div>
                      <button v-else type="button" class="btn btn-primary">Harus Login</button>
                    </div>
                  </div>
                </div>
                <div v-if="(index+1) % 3 == 0" class="clearfix"></div>
              </div>

            </div>
          </div>

        </div>
      </div>
    </div>

  </body>
  <script type="text/javascript">
    var genre = $.url().param('genre');
    var app = new Vue({
      el: '#app',
      data: {
        namaToko: 'Klontong',
        bookList: [],
        cart: localStorage.getItem("cart") || [],
        total: 0,
        token: localStorage.getItem("token") || ''
      },
      created: function() {
        this.populateBook();
        this.cart = JSON.parse(this.cart)
      },
      methods: {
        populateBook: function() {
          var self = this;
          if(genre) {
            axios.get(`http://localhost:3000/api/books/cat/${genre}`)
            .then((response) => {
              self.bookList = response.data;
            })
          } else {
            axios.get('http://localhost:3000/api/books')
            .then((response) => {
              self.bookList = response.data;
            })
          }
        },
        addToCart: function(item) {
          let data = app.cart;
          let already = 0;
          if(item.stock > 0) {
            for(let i = 0; i < data.length; i++) {
              if(data[i]._id == item._id) {
                already++;
                var idx = i;
              }
            }
            if(already == 0) {
              item.count = 1;
              item.stock--;
              data.push(item);
            } else {
              item.count = data[idx].count + 1;
              item.stock = data[idx].stock -1;
              data[idx] = item;
            }
          }
          localStorage.setItem("cart", JSON.stringify(data))
        },
        calculateTotal: function() {
          let total = 0;
          this.cart.forEach(belanjaan => {
            total += (belanjaan.count * belanjaan.price);
          })
          app.total = total;
          localStorage.setItem("cart", JSON.stringify(app.cart))
        },
        removeItem: function(item, index) {
          item.stock += item.count;
          item.count = 0;
          app.cart.splice(index, 1)
          app.calculateTotal();
          localStorage.setItem("cart", JSON.stringify(app.cart))
        }
      }
    })
    $(document).ready(function() {
      $('#logout').click(function(event) {
        localStorage.removeItem("token");
        localStorage.removeItem("cart");
        window.location.href = "./registration.html";
      })
      $('#beli').click(function() {
        if(window.confirm("Selesai belanja dan lanjut ke pembayaran?")) {
          var token = localStorage.getItem("token");
          var cart = localStorage.getItem("cart");
          var total = app.total;
          axios.post('http://localhost:3000/api/transactions/checkout', {
            token: token,
            cart: cart,
            total: total
          })
          .then(function (response) {
            localStorage.setItem("cart", []);
            window.location.href = "./index.html";
          })
          .catch(function (error) {
            console.log(error);
          });
        }
      })
    })
  </script>
</html>
